@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.ReactModal__Overlay {
  z-index: 1000;
}

@theme {
  --color-mustard: #B77849;
  --color-offWhite: #D9DAD3;
  --color-lunarGold: #E8B14C;
  --color-lunarGoldHover:  #D49B38;
  --color-cream: #F5ECD5;
  --color-caramel: #F0BB78;
  --color-darkBrown: #483824;
  --color-lightCaramel: #F7ddbb;
  --color-earthGreen: #626F47;
  --color-lightGreen: #A4B465;
}

.custom-small-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  border: solid;
  border-radius: 8px;
  padding: 24px;
  outline: none;
}

.leaflet-container {
@apply w-11/12 h-150 border rounded-md mt-10
}

.smallButton {
  @apply bg-lunarGold border border-mustard rounded px-3 text-darkBrown font-medium py-2 antialiased hover:bg-lunarGoldHover
}

.mediumButton {
    @apply bg-lunarGold border border-mustard rounded px-8 text-darkBrown text-sm font-medium py-2 antialiased hover:bg-lunarGoldHover justify-center mt-5
}