@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.custom-small-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  border: solid;
  border-radius: 8px;
  padding: 24px;
  outline: none;
}

.leaflet-container {
@apply w-full h-screen
}