@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.ReactModal__Overlay {
  z-index: 1000;
}

@theme {
  --color-bluePurple: #576193;
  --color-blue: #457297;
  --color-redMaroon: #935A5E;
  --color-mustard: #B77849;
  --color-offWhite: #D9DAD3;
}

.custom-small-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  border: solid;
  border-radius: 8px;
  padding: 24px;
  outline: none;
}

.leaflet-container {
@apply w-11/12 h-150 border rounded-md mt-10
}